<html>

<head>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="jumbotron">
        This is the html
      </div>
    </div>
    <nav class="collapse navbar-collagse" role="navigation">
      <ul class="nav navbar-nav">
        
      </ul>
    </nav>
  </header>
</body>

<script src="/js/jquery.min.js"></script>
<script   src="/js/bootstrap.min.js"></script>

</html>